<?eclipse version="3.2"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere Lpex popup menu extension
      	  ==========================================
      	-->

   <extension
         point="com.ibm.lpex.preload">
      <preload
            class="biz.isphere.rse.lpex.Preload">
      </preload>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere RDi Contributions
      	  ==========================================
      	-->

	<extension
		point="biz.isphere.core.ibmi.contributions.extension.point.IIBMiHostContributions">
		<client
            class="biz.isphere.rse.ibmi.contributions.extension.point.XRDiContributions">
		</client>
	</extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Editors
      	  ==========================================
      	-->

	<extension
		point="org.eclipse.ui.editors">
		<editor
			name=""
			icon="icons/data_space_editor_designer.gif"
			class="biz.isphere.rse.dataspaceeditordesigner.rse.DataSpaceEditorDesigner"
			id="biz.isphere.rse.dataspaceeditordesigner.rse.DataSpaceEditorDesigner"/>
      <editor
            name=""
            icon="icons/data_area.gif"
            class="biz.isphere.rse.dataareaeditor.DataAreaEditor"
            contributorClass="biz.isphere.rse.dataareaeditor.DataAreaEditorActionBarContributor"
            id="biz.isphere.rse.dataareaeditor.DataAreaEditor"/>
      <editor
            name=""
            icon="icons/user_space.gif"
            class="biz.isphere.rse.userspaceeditor.UserSpaceEditor"
            contributorClass="biz.isphere.rse.userspaceeditor.UserSpaceEditorActionBarContributor"
            id="biz.isphere.rse.userspaceeditor.UserSpaceEditor"/>
      <editor
            name=""
            icon="icons/compare_message_files.png"
            class="biz.isphere.rse.messagefilecompare.rse.MessageFileCompareEditor"
            contributorClass="biz.isphere.rse.messagefilecompare.rse.MessageFileCompareEditorActionBarContributor"
            id="biz.isphere.rse.messagefilecompare.rse.MessageFileCompareEditor"/>
	</extension>
    
	<extension 
		point = "com.ibm.etools.systems.core.dynamicPopupMenuExtensions" >
      	
      	<!--
      	  ==========================================
      	    Service Program Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="Retrieve Binder Source"
			class="biz.isphere.rse.actions.RetrieveBinderSourceAction"
			id="biz.isphere.rse.actions.RetrieveBinderSourceAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Message File Editor Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="Message File Editor"
			class="biz.isphere.rse.actions.MessageFileEditorAction"
			id="biz.isphere.rse.actions.MessageFileEditorAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Message File Compare Editor Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="Message File Compare Editor"
			class="biz.isphere.rse.actions.OpenMessageFileCompareEditorAction"
			id="biz.isphere.rse.actions.OpenMessageFileCompareEditorAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Binding Directory Editor Contributions
      	  ==========================================
      	-->
      	
		<dynamicPopupMenuExtension
			name="Binding Directory Editor"
			class="biz.isphere.rse.actions.BindingDirectoryEditorAction"
			id="biz.isphere.rse.actions.BindingDirectoryEditorAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Data Area Editor Contributions
      	  ==========================================
      	-->
      	
		<dynamicPopupMenuExtension
			name="Data Area Editor"
			class="biz.isphere.rse.actions.DataAreaEditorAction"
			id="biz.isphere.rse.actions.DataAreaEditorAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    User Space Editor Contributions
      	  ==========================================
      	-->
      	
		<dynamicPopupMenuExtension
			name="User Space Editor"
			class="biz.isphere.rse.actions.UserSpaceEditorAction"
			id="biz.isphere.rse.actions.UserSpaceEditorAction">
	    </dynamicPopupMenuExtension>
	
      	<!--
      	  ==========================================
      	    Source Member Compare Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="Compare Editor"
			class="biz.isphere.rse.actions.CompareEditorAction"
			id="biz.isphere.rse.actions.CompareEditorAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Data Area Monitor Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="%iSphere_Data_Area_Monitor"
			class="biz.isphere.rse.actions.MonitorDataAreaAction"
			id="biz.isphere.rse.actions.MonitorDataAreaAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    User Space Monitor Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="%iSphere_User_Space_Monitor"
			class="biz.isphere.rse.actions.MonitorUserSpaceAction"
			id="biz.isphere.rse.actions.MonitorUserSpaceAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Data Queue Monitor Contributions
      	  ==========================================
      	-->

		<dynamicPopupMenuExtension
			name="%iSphere_Data_Queue_Monitor"
			class="biz.isphere.rse.actions.MonitorDataQueueAction"
			id="biz.isphere.rse.actions.MonitorDataQueueAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Source File/Member Search Contributions
      	  ==========================================
      	-->
	
		<dynamicPopupMenuExtension
			name="iSphere Source File Search"
			class="biz.isphere.rse.actions.SourceFileSearchAction"
			id="biz.isphere.rse.actions.SourceFileSearchAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Message File Search Contributions
      	  ==========================================
      	-->
      	
		<dynamicPopupMenuExtension
			name="iSphere Message File Search"
			class="biz.isphere.rse.actions.MessageFileSearchAction"
			id="biz.isphere.rse.actions.MessageFileSearchAction">
	    </dynamicPopupMenuExtension>
      	
      	<!--
      	  ==========================================
      	    Copy Members To...
      	  ==========================================
      	-->
	    
		<dynamicPopupMenuExtension
			name="Copy members to"
			class="biz.isphere.rse.actions.CopyToAction"
			id="biz.isphere.rse.actions.CopyToAction">
	    </dynamicPopupMenuExtension>
	</extension>  
      	
      	<!--
      	  ==========================================
      	    iSphere Message File Search Page
      	  ==========================================
      	-->
      
   <extension
         point="org.eclipse.search.searchPages">
      <page
      		id="biz.isphere.rse.messagefilesearch.MessageFileSearchPage"
            label="iSphere Message File Search"
            enabled="true"
            icon="icons/message_file_search.png"
            class="biz.isphere.rse.messagefilesearch.MessageFileSearchPage"
            sizeHint="250,160"
            tabPosition="0"
            >
      </page>
	</extension>  
      	
      	<!--
      	  ==========================================
      	    iSphere Source File Search Page
      	  ==========================================
      	-->
      
   <extension
         point="org.eclipse.search.searchPages">
      <page
      		id="biz.isphere.rse.sourcefilesearch.SourceFileSearchPage"
            label="iSphere Source File Search"
            enabled="true"
            icon="icons/source_file_search.gif"
            class="biz.isphere.rse.sourcefilesearch.SourceFileSearchPage"
            sizeHint="250,160"
            tabPosition="0"
            >
      </page>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Views
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere"
            id="biz.isphere.core.views.categories"/>	
      <view
            icon="icons/message_file_preview.gif"
            class="biz.isphere.rse.messagefileeditor.ViewMessageDescriptionPreview"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Message_Description_Preview"
            id="biz.isphere.rse.messagefileeditor.ViewMessageDescriptionPreview"/>
      <view
            icon="icons/data_monitor.gif"
            class="biz.isphere.rse.dataspacemonitor.rse.DataSpaceMonitorView"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Data_Space_Monitor"
            id="biz.isphere.rse.dataspacemonitor.rse.DataSpaceMonitorView"
            allowMultiple="true"/>
      <view
            icon="icons/data_monitor.gif"
            class="biz.isphere.rse.dataqueue.rse.DataQueueMonitorView"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Data_Queue_Monitor"
            id="biz.isphere.rse.dataqueue.rse.DataQueueMonitorView"
            allowMultiple="true"/>
   </extension> 
      	
      	<!--
      	  ==========================================
      	    RSE Source Member
            menubarPath="group.adapters"
      	  ==========================================
      	-->
   
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="biz.isphere.category.Commands"             
            id="biz.isphere.core.command.SourceMember.copyTo"
            name="%command_CopyMembersTo_Name">
      </command>
	</extension>	 
	     	
      	<!--
      	  ==========================================
      	    Others
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.subsystemfactory">
      <factory
            systemtypes="iSeries"
            name="%SubsystemName"
            iconlive="icons/spooled_files_connected.gif"
            icon="icons/spooled_files.gif"
            category="spooled files"
            class="biz.isphere.rse.spooledfiles.SpooledFileSubSystemFactory"
            vendor="iSphere Project Team"
            id="biz.isphere.core.spooledfiles.subsystems.factory">
      </factory>
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.isphere.core.spooledfiles.subsystems.factory"

            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="biz.isphere.rse.spooledfiles.actions">
         <menu
               label="%SaveAs"
               id="biz.isphere.core.menu.save">             
            <separator
                  name="main">
            </separator>
         </menu> 
         <menu
               label="%OpenAs"
               id="biz.isphere.core.menu.open">             
            <separator
                  name="main">
            </separator>
         </menu> 
         <action
               label="%Messages"
               class="biz.isphere.rse.spooledfiles.SpooledFileMessageAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileMessageAction">
         </action>
         <action
               label="%Release"
               class="biz.isphere.rse.spooledfiles.SpooledFileReleaseAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileReleaseAction">
         </action>
         <action
               label="%Hold"
               class="biz.isphere.rse.spooledfiles.SpooledFileHoldAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileHoldAction">
         </action>
         <action
               label="%Delete"
               class="biz.isphere.rse.spooledfiles.SpooledFileDeleteAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileDeleteAction">
         </action>
         <action
               label="%Change"
               class="biz.isphere.rse.spooledfiles.SpooledFileChangeAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileChangeAction">
         </action>
         <action
               label="%SaveAsPDF"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsPDFAction"
               menubarPath="biz.isphere.core.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsPDFAction">
         </action>
         <action
               label="%SaveAsHTML"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsHTMLAction"
               menubarPath="biz.isphere.core.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsHTMLAction">
         </action>
         <action
               label="%SaveAsText"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsTextAction"
               menubarPath="biz.isphere.core.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsTextAction">
         </action>
         <action
               label="%OpenAsPDF"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsPDFAction"
               menubarPath="biz.isphere.core.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsPDFAction">
         </action>
         <action
               label="%OpenAsHTML"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsHTMLAction"
               menubarPath="biz.isphere.core.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsHTMLAction">
         </action>
         <action
               label="%OpenAsText"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsTextAction"
               menubarPath="biz.isphere.core.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsTextAction">
         </action>
      </objectContribution>
   </extension>

      	<!--
      	  ==========================================
      	    iSphere Properties Page: 
      	    Spooled File Filter
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.propertyPages">
      <page
            class="biz.isphere.rse.spooledfiles.SpooledFileProperties"
            id="biz.isphere.rse.spooledfiles.SpooledFileProperties"
            name="%GeneralInformation"
            namefilter="*"

            subsystemfactoryid="biz.isphere.core.spooledfiles.subsystems.factory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*">
      </page>
   </extension>

      	<!--
      	  ==========================================
      	    iSphere Properties Page: 
      	    Remote System Connection
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="biz.isphere.rse.connection.ISphereConnectionPropertyPage"
            id="biz.isphere.rse.connection.ISphereConnectionPropertyPage"
            name="%ConnectionProperties_iSphere"
            objectClass="com.ibm.etools.systems.model.SystemConnection">
      </page>
   </extension>

   <extension point="org.eclipse.ui.viewActions"> 
      <viewContribution 
         id="biz.isphere.rse.actions" 
         targetID="com.ibm.etools.systems.core.ui.view.systemView"> 
         <menu
            id="biz.isphere.rse.menu" 
            label="iSphere" 
            path="additions"> 
            <separator name="group1"/> 
         </menu> 
         <action
            id="biz.isphere.rse.actions.RSEManagementAction" 
            label="%iSphere_RSE_Filter_Management" 
            menubarPath="biz.isphere.rse.menu/group1" 
            toolbarPath="Normal/additions"
            style="push"
            state="true" 
            icon="icons/iSphere_RSE_Management.gif" 
            tooltip="%iSphere_RSE_Filter_Management" 
            class="biz.isphere.rse.actions.RSEManagementAction"> 
         </action> 
     </viewContribution> 
   </extension>    

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            id="biz.isphere.core.actionSet"
            label="%menu_iSphere_Menu"
            visible="true">
            
         <menu
               id="biz.isphere.core.menu.isphere"
               label="%menu_iSphere">
	         <separator name="group0" visible="true" />
	         <separator name="additions" visible="true" />
	         <separator name="transferlibrary" visible="true" />
	         <separator name="help" visible="true" />
         </menu>
         
         <action
               class="biz.isphere.rse.actions.CompareEditorMenuAction"
               id="biz.isphere.rse.actions.CompareEditorMenuAction"
               definitionId="biz.isphere.core.command.SourceMemberCompare.open"
               label="%menu_Compare_Source_Members"
               icon="icons/compare.gif"
               menubarPath="biz.isphere.core.menu.isphere/group0"
               tooltip="%menu_Tooltip_Compare_Source_Members">
         </action>
         
         <action
               class="biz.isphere.rse.actions.OpenDataSpaceEditorDesignerAction"
               id="biz.isphere.rse.actions.OpenDataSpaceEditorDesignerAction"
               definitionId="biz.isphere.core.command.DataSpaceEditorDesigner.open"
               label="%menu_DataSpace_Editor_Designer"
               icon="icons/data_space_editor_designer.gif"
               menubarPath="biz.isphere.core.menu.isphere/group0"
               tooltip="%menu_Tooltip_Opens_the_iSphere_DataSpace_Editor_Designer">
         </action>
         
         <action
               class="biz.isphere.rse.actions.OpenRSEFilterManagementAction"
               id="biz.isphere.rse.actions.OpenRSEFilterManagementAction"
               definitionId="biz.isphere.core.command.RSEManagement.open"
               label="%menu_RSE_Filter_Management"
               icon="icons/iSphere_RSE_Management.gif"
               menubarPath="biz.isphere.core.menu.isphere/group0"
               tooltip="%menu_Tooltip_Opens_the_iSphere_RSE_Filter_Management">
         </action>
         
         <action
               class="biz.isphere.rse.actions.TransferLibraryAction"
               id="biz.isphere.rse.actions.TransferLibraryAction"
               definitionId="biz.isphere.core.command.iSphereLibrary.transfer"
               label="%menu_Transfer_iSphere_library"
               icon="icons/transfer_library_16.gif"
               menubarPath="biz.isphere.core.menu.isphere/transferlibrary"
               tooltip="%menu_Tooltip_Transfer_iSphere_library">
         </action>
         
         <action
               class="biz.isphere.rse.actions.DisplayHelpAction"
               id="biz.isphere.rse.actions.DisplayHelpAction"
               definitionId="biz.isphere.core.command.iSphereHelp.display"
               label="%menu_Display_iSphere_help"
               icon="icons/systemhelp.gif"
               menubarPath="biz.isphere.core.menu.isphere/help"
               tooltip="%menu_Tooltip_Display_iSphere_help">
         </action>
         
      </actionSet>
   </extension>

      	<!--
      	  ==========================================
      	    iSphere Search Menu Contribution
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            id="biz.isphere.rse.menu.SearchPages"
            label="%menu_iSphere_Search"
            visible="true">
            
         <menu
               label="%menu_Search"
               path="navigate"
               id="org.eclipse.search.menu">
         </menu>
         
         <action
               class="biz.isphere.rse.actions.OpenMessageFileSearchPageAction"
               id="biz.isphere.rse.actions.OpenMessageFileSearchPageAction"
               definitionId="biz.isphere.core.command.MessageFileSearchPage.open"
               label="%menu_iSphere_Message_File_Search"
               icon="icons/message_file_search.png"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               tooltip="%menu_Tooltip_iSphere_Message_File_Search">
         </action>
         
         <action
               class="biz.isphere.rse.actions.OpenSourceFileSearchPageAction"
               id="biz.isphere.rse.actions.OpenSourceFileSearchPageAction"
               definitionId="biz.isphere.core.command.SourceFileSearchPage.open"
               label="%menu_iSphere_Source_File_Search"
               icon="icons/source_file_search.gif"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               tooltip="%menu_Tooltip_iSphere_Source_File_Search">
         </action>
         
      </actionSet>
   </extension>
   
      	<!--
      	  ==========================================
      	    iSphere Key Bindings
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.bindings">
   
      <key 
        sequence="Ctrl+I S"
        commandId="biz.isphere.core.command.SourceFileSearchPage.open"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"/>
   
      <key 
        sequence="Ctrl+I M"
        commandId="biz.isphere.core.command.MessageFileSearchPage.open"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"/>
   
      <key 
        sequence="Ctrl+I C"
        commandId="biz.isphere.core.command.SourceMemberCompare.open"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"/>
            
   </extension>

      	<!--
      	  ==========================================
      	    iSphere Commands
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="iSphere"
            id="biz.isphere.category.Commands">
      </category>
         
      <command
            defaultHandler="biz.isphere.core.dataspaceeditordesigner.rse.OpenDataSpaceEditorDesignerHandler"
            id="biz.isphere.core.command.DataSpaceEditorDesigner.open"
            categoryId="biz.isphere.category.Commands"
            name="%command_DataSpace_Editor_Designer">
      </command>
      
      <command
            defaultHandler="biz.isphere.rse.handler.OpenRSEManagementHandler"
            id="biz.isphere.core.command.RSEManagement.open"
            categoryId="biz.isphere.category.Commands"
            name="%command_RSE_Filter_Management">
      </command>
      
      <command
            defaultHandler="biz.isphere.core.internal.handler.TransferLibraryHandler"
            id="biz.isphere.core.command.iSphereLibrary.transfer"
            categoryId="biz.isphere.category.Commands"
            name="%command_Transfer_iSphere_library">
      </command>
      
      <command
            defaultHandler="biz.isphere.rse.handler.OpenMessageFileSearchPageHandler"
            id="biz.isphere.core.command.MessageFileSearchPage.open"
            categoryId="biz.isphere.category.Commands"
            name="%command_Open_iSphere_Message_File_Search_Page">
      </command>
      
      <command
            defaultHandler="biz.isphere.rse.handler.OpenSourceFileSearchPageHandler"
            id="biz.isphere.core.command.SourceFileSearchPage.open"
            categoryId="biz.isphere.category.Commands"
            name="%command_Open_iSphere_Source_File_Search_Page">
      </command>
      
      <command
      		defaultHandler="biz.isphere.rse.handler.CompareSourceMembersHandler"
            id="biz.isphere.core.command.SourceMemberCompare.open"
            categoryId="biz.isphere.category.Commands"
            name="%command_Compare_Source_Members">
      </command>
      
   </extension>

      	<!--
      	  ==========================================
      	    iSphere RSE Decorator
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="biz.isphere.rse.decorators.RSEHostObjectDecorator"
            id="biz.isphere.rse.decorators.RSEHostObjectDecorator"
            label="%iSphere_Object_and_Source_Decorator_Label"
            lightweight="true"
            state="false">
         <description>
           %iSphere_Object_and_Source_Decorator_Description
         </description>
         <enablement>
            <objectClass
                  name="com.ibm.etools.systems.dstore.core.model.DataElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

      	<!--
      	  ==========================================
      	    iSphere i Project Decorator
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="biz.isphere.rse.decorators.IProjectFileDecorator"
            id="biz.isphere.rse.decorators.IProjectFileDecorator"
            label="%iSphere_i_Project_Decorator_Label"
            lightweight="true"
            state="false">
         <description>
           %iSphere_i_Project_Decorator_Description
         </description>
         <enablement>
         	<or>
	            <objectClass 
	            	name="com.ibm.etools.iseries.perspective.internal.model.impl.ISeriesNativeObject" />
	            <objectClass 
	            	name="com.ibm.etools.iseries.perspective.model.AbstractISeriesNativeMember" />
            </or>
         </enablement>
      </decorator>
   </extension>

</plugin>
