<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
   
      <editor
            name=""
            icon="icons/tn5250j.png"
            class="biz.isphere.tn5250j.rse.sessionseditor.SessionsEditor"
            id="biz.isphere.tn5250j.rse.sessionseditor.SessionsEditor"/>
            
      <editor
            name=""
            icon="icons/tn5250j.png"
            class="biz.isphere.tn5250j.rse.designereditor.DesignerEditor"
            id="biz.isphere.tn5250j.rse.designereditor.DesignerEditor"/>
            
   </extension>
 
   <extension point="org.eclipse.ui.views">

      <view
            name="%iSphere_5250_Sessions"
            icon="icons/tn5250j.png"
            category="biz.isphere.core.views.categories"
            class="biz.isphere.tn5250j.rse.sessionsview.SessionsView"
            id="biz.isphere.tn5250j.rse.sessionsview.SessionsView">
      </view>

      <view
            name="%iSphere_5250_Designer"
            icon="icons/tn5250j.png"
            category="biz.isphere.core.views.categories"
            class="biz.isphere.tn5250j.rse.designerview.DesignerView"
            id="biz.isphere.tn5250j.rse.designerview.DesignerView">
      </view>

   </extension>

   <extension 
         point="com.ibm.etools.systems.core.subsystemfactory">
        <factory
             id="biz.isphere.tn5250j.rse.subsystems.TN5250JSubSystemFactory"
             systemtypes="iSeries"
             name="%iSphere_5250_Emulator"
             class="biz.isphere.tn5250j.rse.subsystems.TN5250JSubSystemFactory"
             category="biz.isphere.tn5250j"
             vendor="iSphere Project Team"
             icon="icons/tn5250j.png"
             iconlive="icons/tn5250j.png">
        </factory>
   </extension>
    
	<extension point = "com.ibm.etools.systems.core.dynamicPopupMenuExtensions" >
		<dynamicPopupMenuExtension
			name="TN5250J Designer"
			class="biz.isphere.tn5250j.rse.actions.DesignerOpenWithAction"
			id="biz.isphere.tn5250j.rse.actions.DesignerOpenWithAction">
	    </dynamicPopupMenuExtension>
	</extension>  
	
	<extension point = "com.ibm.etools.systems.core.dynamicPopupMenuExtensions" >
		<dynamicPopupMenuExtension
			name="TN5250J Designer"
			class="biz.isphere.tn5250j.rse.actions.DesignerBrowseWithAction"
			id="biz.isphere.tn5250j.rse.actions.DesignerOpenWithAction">
	    </dynamicPopupMenuExtension>
	</extension>  

</plugin>
