<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere Messages subsystem
      	  ==========================================
      	-->

  <extension
         point="com.ibm.etools.systems.core.subsystemfactory">
      <factory
            systemtypes="iSeries"
            name="%iSphere_Messages"
            iconlive="icons/messages_connected.gif"
            icon="icons/messages.gif"
            category="queued messages"
            class="biz.isphere.messagesubsystem.rse.internal.QueuedMessageSubSystemFactory"
            vendor="iSphere Project Team"
            id="biz.isphere.messagesubsystem.internal.QueuedMessageSubSystemFactory">
      </factory>
   </extension>
   
   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.isphere.messagesubsystem.internal.QueuedMessageSubSystemFactory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="biz.isphere.messagesubsystem.queuedmessages.popupmenu">
         <action
               label="%Message_Details"
               icon="icons/message.gif"
               class="biz.isphere.messagesubsystem.rse.internal.QueuedMessageDetailsPopupMenuExtensionAction"
               enablesFor="1"
               id="biz.isphere.messagesubsystem.internal.QueuedMessageDetailsPopupMenuExtensionAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="biz.isphere.messagesubsystem.rse.internal.QueuedMessageSubSystem"
            name="%Message_Queue_Monitoring"
            nameFilter="*"
            class="biz.isphere.messagesubsystem.rse.internal.MonitoringPropertiesPage"
            id="biz.isphere.messagesubsystem.internal.MonitoringPropertiesPage">
      </page>
   </extension>

</plugin>
