<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject"
            id="biz.isphere.menu.msgf"
            namefilter="*.msgf">
	         <visibility> 
	          	<objectState name="type" value="*MSGF"/>
	         </visibility>	         
	         <action
                class="biz.isphere.rse.actions.MessageFileEditorAction"
                enablesFor="1"
                id="biz.isphere.rse.actions.MessageFileEditorAction"
                label="%iSphere_Message_File_Editor"
                icon="icons/message_file.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteSourceMember"
            id="biz.isphere.menu.member">
	         <action
                class="biz.isphere.rse.actions.CompareEditorAction"
                enablesFor="1"
                id="biz.isphere.rse.actions.CompareEditorAction"
                label="%iSphere_Compare_Editor"
                icon="icons/compare.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject"
            id="biz.isphere.menu.bnddir"
            namefilter="*.bnddir">
	         <visibility> 
	          	<objectState name="type" value="*BNDDIR"/>
	         </visibility>	         
	         <action
                class="biz.isphere.rse.actions.BindingDirectoryEditorAction"
                enablesFor="1"
                id="biz.isphere.rse.actions.BindingDirectoryEditorAction"
                label="%iSphere_Binding_Directory_Editor"
                icon="icons/binding_directory.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.services.qsys.api.IQSYSResource"
            id="biz.isphere.menu.sourcefilesearch.member">
	         <action
                class="biz.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.SystemFilterReference"
            id="biz.isphere.menu.sourcefilesearch.filter">
	         <action
                class="biz.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.ISystemFilterStringReference"
            id="biz.isphere.menu.sourcefilesearch.filter">
	         <action
                class="biz.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.services.qsys.api.IQSYSResource"
            id="biz.isphere.menu.messagefilesearch.member">
	         <action
                class="biz.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.SystemFilterReference"
            id="biz.isphere.menu.messagefilesearch.filter">
	         <action
                class="biz.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.ISystemFilterStringReference"
            id="biz.isphere.menu.messagefilesearch.filter">
	         <action
                class="biz.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="biz.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
   </extension>

   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.iseries"
            name="%SubsystemName"
            iconlive="icons/spooled_files_connected.gif"
            icon="icons/spooled_files.gif"
            category="spooled files"
            class="biz.isphere.rse.spooledfiles.SpooledFileSubSystemFactory"
            vendor="iSphere Project Owners"
            id="biz.isphere.spooledfiles.subsystems.factory">
      </configuration>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.isphere.spooledfiles.subsystems.factory"
            objectClass="biz.isphere.rse.spooledfiles.SpooledFileResource"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="biz.isphere.rse.spooledfiles.actions">
         <menu
               label="%SaveAs"
               id="biz.isphere.menu.save">             
            <separator
                  name="main">
            </separator>
         </menu> 
         <menu
               label="%OpenAs"
               id="biz.isphere.menu.open">             
            <separator
                  name="main">
            </separator>
         </menu> 
         <action
               label="%Messages"
               class="biz.isphere.rse.spooledfiles.SpooledFileMessageAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileMessageAction">
         </action>
         <action
               label="%Release"
               class="biz.isphere.rse.spooledfiles.SpooledFileReleaseAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileReleaseAction">
         </action>
         <action
               label="%Hold"
               class="biz.isphere.rse.spooledfiles.SpooledFileHoldAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileHoldAction">
         </action>
         <action
               label="%Delete"
               class="biz.isphere.rse.spooledfiles.SpooledFileDeleteAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileDeleteAction">
         </action>
         <action
               label="%Change"
               class="biz.isphere.rse.spooledfiles.SpooledFileChangeAction"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileChangeAction">
         </action>
         <action
               label="%SaveAsPDF"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsPDFAction"
               menubarPath="biz.isphere.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsPDFAction">
         </action>
         <action
               label="%SaveAsHTML"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsHTMLAction"
               menubarPath="biz.isphere.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsHTMLAction">
         </action>
         <action
               label="%SaveAsText"
               class="biz.isphere.rse.spooledfiles.SpooledFileSaveAsTextAction"
               menubarPath="biz.isphere.menu.save/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileSaveAsTextAction">
         </action>
         <action
               label="%OpenAsPDF"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsPDFAction"
               menubarPath="biz.isphere.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsPDFAction">
         </action>
         <action
               label="%OpenAsHTML"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsHTMLAction"
               menubarPath="biz.isphere.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsHTMLAction">
         </action>
         <action
               label="%OpenAsText"
               class="biz.isphere.rse.spooledfiles.SpooledFileOpenAsTextAction"
               menubarPath="biz.isphere.menu.open/main"
               enablesFor="+"
               id="biz.isphere.rse.spooledfiles.SpooledFileOpenAsTextAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="biz.isphere.rse.spooledfiles.SpooledFileProperties"
            id="biz.isphere.rse.spooledfiles.SpooledFileProperties"
            name="%GeneralInformation"
            namefilter="*"
            objectClass="biz.isphere.rse.spooledfiles.SpooledFileResource"
            subsystemfactoryid="biz.isphere.spooledfiles.subsystems.factory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*">
      </page>
   </extension>

</plugin>
