<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject"
            id="de.taskforce.isphere.menu.msgf"
            namefilter="*.msgf">
	         <visibility> 
	          	<objectState name="type" value="*MSGF"/>
	         </visibility>	         
	         <action
                class="de.taskforce.isphere.rse.actions.MessageFileEditorAction"
                enablesFor="1"
                id="de.taskforce.isphere.rse.actions.MessageFileEditorAction"
                label="%iSphere_Message_File_Editor"
                icon="icons/message_file.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteSourceMember"
            id="de.taskforce.isphere.menu.member">
	         <action
                class="de.taskforce.isphere.rse.actions.CompareEditorAction"
                enablesFor="1"
                id="de.taskforce.isphere.rse.actions.CompareEditorAction"
                label="%iSphere_Compare_Editor"
                icon="icons/compare.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject"
            id="de.taskforce.isphere.menu.bnddir"
            namefilter="*.bnddir">
	         <visibility> 
	          	<objectState name="type" value="*BNDDIR"/>
	         </visibility>	         
	         <action
                class="de.taskforce.isphere.rse.actions.BindingDirectoryEditorAction"
                enablesFor="1"
                id="de.taskforce.isphere.rse.actions.BindingDirectoryEditorAction"
                label="%iSphere_Binding_Directory_Editor"
                icon="icons/binding_directory.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.services.qsys.api.IQSYSResource"
            id="de.taskforce.isphere.menu.sourcefilesearch.member">
	         <action
                class="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.SystemFilterReference"
            id="de.taskforce.isphere.menu.sourcefilesearch.filter">
	         <action
                class="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.ISystemFilterStringReference"
            id="de.taskforce.isphere.menu.sourcefilesearch.filter">
	         <action
                class="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.SourceFileSearchAction"
                label="%iSphere_Source_File_Search"
                icon="icons/source_file_search.gif"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="com.ibm.etools.iseries.services.qsys.api.IQSYSResource"
            id="de.taskforce.isphere.menu.messagefilesearch.member">
	         <action
                class="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.SystemFilterReference"
            id="de.taskforce.isphere.menu.messagefilesearch.filter">
	         <action
                class="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
      	<objectContribution
            objectClass="org.eclipse.rse.core.filters.ISystemFilterStringReference"
            id="de.taskforce.isphere.menu.messagefilesearch.filter">
	         <action
                class="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                enablesFor="*"
                id="de.taskforce.isphere.rse.actions.MessageFileSearchAction"
                label="%iSphere_Message_File_Search"
                icon="icons/message_file_search.png"
                menubarPath="additions">
	         </action>
      	</objectContribution>
   </extension>

</plugin>
