<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Spooled Files
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.isphere.core.spooledfiles.subsystems.factory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="biz.isphere.joblogexplorer.menu.spooledfileresource">
            
         <visibility>
            <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
         </visibility>
            
         <action
               class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithSpooledFileAction"
               enablesFor="1"
               id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithSpooledFileAction"
               label="%menu_Job_Log_Explorer"
               icon="icons/joblog_explorer.png"
               menubarPath="group.browsewith" >
               >
         </action>
      </objectContribution>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Remote Job
      	  ==========================================
      	-->
   
   <extension point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution 
            id="biz.isphere.joblogexplorer.menu.iremotejob"
            typecategoryfilter="jobs"
            typefilter="job"
            namefilter="*"
            subsystemfactoryid="ibm.jobs400" >
            
         <action 
               class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteJobAction"
               enablesFor="1"
               id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteJobAction" 
               label="%menu_Job_Log_Explorer"
               icon="icons/joblog_explorer.png"
               menubarPath="group.browsewith" >
         </action>
      </objectContribution>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Stream Files
      	  ==========================================
      	-->
   
   <extension point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution 
            id="biz.isphere.joblogexplorer.menu.iremotefile"
            typecategoryfilter="files"
            typefilter="file"
            namefilter="*"
            subsystemfactoryid="ibm.filesLocal" >
            
         <action 
               class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteFileAction"
               enablesFor="1"
               id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteFileAction" 
               label="%menu_Job_Log_Explorer"
               icon="icons/joblog_explorer.png"
               menubarPath="group.browsewith" >
         </action>
      </objectContribution>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="biz.isphere.joblogexplorer.rse.perspective.JobLogExplorerPerspectiveLayout" 
	       name="%Perspective_Job_Log_Explorer"
	       class="biz.isphere.joblogexplorer.rse.perspective.JobLogExplorerPerspectiveLayout"
	       icon="icons/joblog_explorer.png">
      </perspective>
       
   </extension>   

</plugin>
